.Help{
  float:right;
  display: inline-block;
  .button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $clPrimary;
    background-image: $iconHelpUrl;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;    
    float: right;
    &:hover{
      background-color: lighten($clPrimary, 10);
    }
  }

  .container{
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    height: 100%;    
    width: 600px;
    box-sizing: border-box;
    padding: 0;
    background-color: $clWhite;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    max-width: 100%;
    
    z-index: 1;
    

    &.active{
      display: block;
    }

    .header{
      background-color: $clPrimary;
      height: 50px;
      line-height: 50px;
      color: $clWhite;
      padding-left: 25px;
      font-size: 20px;
      font-family: $fontHeading;

      .close{
        background-image: $iconCrossUrl;
        background-size: 13px;
        background-position: center;
        background-repeat: no-repeat;      
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        &:hover{
          background-color: rgba(255,255,255,0.1);
        }
      }

    }

    .scroll{
      padding: 20px 25px;
      overflow-y: auto;
      position: absolute;
      height: calc(100% - 50px);
      box-sizing: border-box;

      p{
        margin-top: 0;
      }

    }
  }
}