.page.Tools {
  $margin: 20px;
  
  .content{
    @include infoBanner();
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    max-width: $maxTextBodyWidth + 2 * $margin;
    margin: auto;
  }
  
  .tool {
    flex: 1;
    margin: $margin;
    flex-basis: 300px;
    
    .image-wrap {
      @include image-wrap-shadow();
    }
    
    h3 {
      text-align: center;
      font-size: 20px;
    }
    
    .actions {
      display: flex;
      justify-content: center;
    }
  }
  
  .development {
    max-width: $maxTextBodyWidth + 2 * $margin;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
      font-size: 25px;
    }
    
    img {
      margin: $margin;
      width: 175px;
    }
    
    .description {
      margin: 0 $margin $margin;
      @media (min-width: 550px) {
        column-count: 2
      }
    }
    
  }
}
